<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>828001882834-8m2it8j37ujusbd18pjj9g6fe89jb15m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828001882834-8m2it8j37ujusbd18pjj9g6fe89jb15m</string>
	<key>API_KEY</key>
	<string>AIzaSyBGFtD-9eyJWANcSXgZaAoUPOBu74IrI7s</string>
	<key>GCM_SENDER_ID</key>
	<string>828001882834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dnt.Cheap-Meals</string>
	<key>PROJECT_ID</key>
	<string>cheap-meals</string>
	<key>STORAGE_BUCKET</key>
	<string>cheap-meals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:828001882834:ios:366678076e6e050e</string>
	<key>DATABASE_URL</key>
	<string>https://cheap-meals.firebaseio.com</string>
</dict>
</plist>